<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>SIMPLE CRUD</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
        [routerLink]="['/profile']">
        <!-- <mat-icon>share</mat-icon> -->
        Profile
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        [routerLink]="['/blog']">
        <!-- <mat-icon>favorite</mat-icon> -->
        Blog
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
        [routerLink]="['/book']">
        <!-- <mat-icon>share</mat-icon> -->
        Book
    </button>

</mat-toolbar>